.box{
    margin: 10% auto;
    width: 600px;
    height: 400px;
    background-color: #ddd;
}

.axisText{
    font-size: 15px;
}

.title{
    font-size: 20px;
}

.area{
    fill-opacity: 0.2;
    stroke: none;
}